In [1]:
person = {"first": ["Ritik","Rohan","Vishal"],
         "last": ["Dhiman","Sharma","Gupta"],
         "email": ["ritik@email.com","rohan@email.com","vishal@email.com"]}

In [2]:
import pandas as pd
df = pd.DataFrame(person)
df

    first    last             email
0   Ritik  Dhiman   ritik@email.com
1   Rohan  Sharma   rohan@email.com
2  Vishal   Gupta  vishal@email.com

In [3]:
#for acessing any row we use the default index for eg.
df.loc[0]

first              Ritik
last              Dhiman
email    ritik@email.com
Name: 0, dtype: object

In [4]:
#for setting index we need\
df.set_index('first', inplace =True)

In [5]:
df.loc['Ritik']

last              Dhiman
email    ritik@email.com
Name: Ritik, dtype: object

In [6]:
df

          last             email
first
Ritik   Dhiman   ritik@email.com
Rohan   Sharma   rohan@email.com
Vishal   Gupta  vishal@email.com

In [7]:
df.loc['Ritik','email']

'ritik@email.com'

In [8]:
df.iloc[0]

last              Dhiman
email    ritik@email.com
Name: Ritik, dtype: object

In [9]:
df.reset_index(inplace=True)
df

    first    last             email
0   Ritik  Dhiman   ritik@email.com
1   Rohan  Sharma   rohan@email.com
2  Vishal   Gupta  vishal@email.com